<% content_for :title do %>About<% end %>
<h3>About Anne Thompson</h3>
<p>Anne is a second-year MA student in the Translation and Localization Management program at the Middlebury Institute of International Studies. She is perpetually freezing and gets embarrassingly excited about steel pan and Classical Nahuatl.</p>